<p id="notice"><%= notice %></p>

<h1>掲示板</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keijibans.each do |keijiban| %>
    <% @user = User.find(keijiban.user_id) %>
      <tr>
        <td><%= keijiban.content %></td>
        <td><%= @user.name %></td>
        <td><%= image_tag keijiban.picture.url if keijiban.picture? %></td>
        <td><%= link_to '表示', keijiban %></td>
        <td><%= link_to '変更', edit_keijiban_path(keijiban) %></td>
        <td><%= link_to '消去', keijiban, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keijiban', new_keijiban_path %>
