<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @keijiban.content %>
</p>

<p>
  <strong>User:</strong>
  <% @user = User.find_by(id: @keijiban.user_id) %>
  <%= @user.name %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= image_tag @keijiban.picture.url if @keijiban.picture? %>
</p>


<%= link_to 'Edit', edit_keijiban_path(@keijiban) %> |
<%= link_to 'Back', keijibans_path %>
