<!DOCTYPE html>
<html>
<head>
  <title>PaPa</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body>
<%= image_tag ('PAPA.PNG'), :width => '120', :height => '37' %>
<header>
    <% if session[:user_id] %>
      <% current_user = User.find_by(id: session[:user_id]) %>
      <i><%= link_to(current_user.name, "/users/#{current_user.id}") %></i>
      <%= link_to("keijiban", "/keijibans") %>
      <%= link_to image_tag("todo.jpg", :size => "30x30"), "/users/:id" %>
      <%= link_to image_tag("home.jpg",:size => "30x30"), "/static_pages/console"%>
      <%= link_to image_tag("help.jpg", :size => "30x30"),"/static_pages/help"%>
      <%= link_to image_tag("logout.jpg",:size => "30x30"), "/logout" %>
    <% else %>
      <%= link_to image_tag("signup.jpg", :size => "30x30"), "/signup" %>
      <%= link_to image_tag("login.jpg", :size => "30x30"), "/login_form" %>
    <% end %>
  </header>

<body>

<%= yield %>

</body>
</html>
